// =========
// variables
// =========

$medium-breakpoint: 600px;
$large-breakpoint: 100px;

$blue: #0000ff;
$gray: #333;
$black: #111;

:root {

  --primary-text-color: $gray;
  --link-color: $blue;
  --link-color-hover: darken($blue, 10%);
  --heading-color: $black;

  --serif: serif;
  --sans: sans-serif;

}



// =======
// imports
// =======

@import 'global/utilities';
@import 'global/media-queries';
@import 'global/layout';
@import 'global/typography';
