// =========
// variables
// =========

$medium-breakpoint: 600px;
$large-breakpoint: 1000px;

$font-size: 20px;

$site-max-width: 66rem;
$site-padding: 1rem;

$grid-columns: 12;
$grid-gutter: 1rem;

$blue: #0000ff;
$gray: #333;
$black: #111;

:root {

  --primary-text-color: #{$gray};
  --link-color: #{$blue};
  --link-color-hover: #{darken($blue, 25%)};
  --heading-color: #{$black};

  --serif: serif;
  --sans: sans-serif;

}



// =======
// imports
// =======

@import 'global/utilities';
@import 'global/media-queries';
@import 'global/layout';
@import 'global/typography';
@import 'global/forms';
@import 'global/grid';

@import 'components/header';
@import 'components/footer';

@import 'pages/home';
@import 'pages/example';

@import 'global/media-query-classes'; // See this file for an explanation of why it's imported last
