:root {
  --primary-text-color: #333;
  --link-color: #0000ff;
  --link-color-hover: navy;
  --heading-color: #111;
  --serif: serif;
  --sans: sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ir {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 600px) {
  .small-only {
    display: none;
  }
}

@media (max-width: 599px) {
  .medium-only {
    display: none;
  }
}

@media (min-width: 1000px) {
  .medium-only {
    display: none;
  }
}

@media (max-width: 999px) {
  .large-only {
    display: none;
  }
}

@media (min-width: 1000px) {
  .small-and-medium-only {
    display: none;
  }
}

@media (max-width: 599px) {
  .medium-and-large-only {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 18px;
  color: var(--primary-text-color);
  font-family: var(--serif);
}

a {
  color: var(--link-color);
}

a:hover, a.active {
  color: var(--link-color-hover);
}

p, ul, ol, blockquote {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--sans);
}