// ==================================
// helper classes for flexbox layouts
// ==================================

.center-align {
  display: flex;
  align-items: center;
}

.center-justify {
  display: flex;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}
